# ML Pipeline Preparation
Follow the instructions below to help you create your ML pipeline.

## 1. Import libraries and load data from database.
- Import Python libraries
- Load dataset from database with [`read_sql_table`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_sql_table.html)
- Define feature and target variables X and Y

In [1]:
# import libraries

from time import time

import numpy as np
import pandas as pd
from sqlalchemy import create_engine

import re
import nltk
nltk.download(['punkt', 'wordnet'])
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

import pickle

[nltk_data] Downloading package punkt to /Users/Gabriel/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/Gabriel/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
# load data from database

database_path = '../data/disaster_response.db'
engine = create_engine('sqlite:///' + database_path)
df = pd.read_sql_table('disaster_response', engine)
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26216 entries, 0 to 26215
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26216 non-null  int64
 1   message                 26216 non-null  object
 2   original                10170 non-null  object
 3   genre                   26216 non-null  object
 4   related                 26216 non-null  int64
 5   request                 26216 non-null  int64
 6   offer                   26216 non-null  int64
 7   aid_related             26216 non-null  int64
 8   medical_help            26216 non-null  int64
 9   medical_products        26216 non-null  int64
 10  search_and_rescue       26216 non-null  int64
 11  security                26216 non-null  int64
 12  military                26216 non-null  int64
 13  child_alone             26216 non-null  int64
 14  water                   26216 non-null  int64
 15  food                    26216 non-null  int64
 16  shelter                 26216 non-null  int64
 17  clothing                26216 non-null  int64
 18  money                   26216 non-null  int64
 19  missing_people          26216 non-null  int64
 20  refugees                26216 non-null  int64
 21  death                   26216 non-null  int64
 22  other_aid               26216 non-null  int64
 23  infrastructure_related  26216 non-null  int64
 24  transport               26216 non-null  int64
 25  buildings               26216 non-null  int64
 26  electricity             26216 non-null  int64
 27  tools                   26216 non-null  int64
 28  hospitals               26216 non-null  int64
 29  shops                   26216 non-null  int64
 30  aid_centers             26216 non-null  int64
 31  other_infrastructure    26216 non-null  int64
 32  weather_related         26216 non-null  int64
 33  floods                  26216 non-null  int64
 34  storm                   26216 non-null  int64
 35  fire                    26216 non-null  int64
 36  earthquake              26216 non-null  int64
 37  cold                    26216 non-null  int64
 38  other_weather           26216 non-null  int64
 39  direct_report           26216 non-null  int64
dtypes: int64(37), object(3)
memory usage: 15.8 MB

In [3]:
pd.set_option('display.max_columns', 100)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
df.describe()

,id,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
count,26216.00000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.0,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000,26216.000000
mean,15224.82133,0.773650,0.170659,0.004501,0.414251,0.079493,0.050084,0.027617,0.017966,0.032804,0.0,0.063778,0.111497,0.088267,0.015449,0.023039,0.011367,0.033377,0.045545,0.131446,0.065037,0.045812,0.050847,0.020293,0.006065,0.010795,0.004577,0.011787,0.043904,0.278341,0.082202,0.093187,0.010757,0.093645,0.020217,0.052487,0.193584
std,8826.88914,0.435276,0.376218,0.066940,0.492602,0.270513,0.218122,0.163875,0.132831,0.178128,0.0,0.244361,0.314752,0.283688,0.123331,0.150031,0.106011,0.179621,0.208500,0.337894,0.246595,0.209081,0.219689,0.141003,0.077643,0.103338,0.067502,0.107927,0.204887,0.448191,0.274677,0.290700,0.103158,0.291340,0.140743,0.223011,0.395114
min,2.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7446.75000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,15662.50000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,22924.25000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,30265.00000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
df = df.drop(columns=['child_alone'])

In [6]:
df.groupby('related').count()

,id,message,original,genre,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,food,shelter,clothing,money,missing_people,refugees,death,other_aid,infrastructure_related,transport,buildings,electricity,tools,hospitals,shops,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
related,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,6122,6122,3395,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122,6122
1,19906,19906,6643,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906,19906
2,188,188,132,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188,188

In [7]:
df = df[df['related']!=2]

In [8]:
X = df['message']
y = df.iloc[:,4:].astype(np.uint8)

memory_x = X.memory_usage(deep=True)
memory_y = y.memory_usage(deep=True).sum()
memory_df = (memory_x + memory_y)/10**6
print('memory usage: {0:.2f} MB'.format(memory_df))

memory usage: 6.62 MB

In [10]:
type([1, 2, 3])

list

## 2. Write a tokenization function to process your text data

In [8]:
def tokenize(text):
    """
    Tokenize and lemmatize text function.
    
    Arguments:
        text (str): Text message which needs to be tokenized.
    
    Returns:
        clean_tokens: List of tokens extracted from the provided text.
    """
    
    url_regex = 'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    detected_urls = re.findall(url_regex, text)
    for url in detected_urls:
        text = text.replace(url, 'urlplaceholder')

    tokens = word_tokenize(text)
    lemmatizer = WordNetLemmatizer()

    clean_tokens = []
    for tok in tokens:
        clean_tok = lemmatizer.lemmatize(tok).lower().strip()
        clean_tokens.append(clean_tok)
    
    return clean_tokens

## 3. Build a machine learning pipeline
This machine learning pipeline should take in the `message` column as input and output classification results on the other 36 categories in the dataset. You may find the [MultiOutputClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.multioutput.MultiOutputClassifier.html) helpful for predicting multiple target variables.

In [9]:
pipeline = Pipeline([
    ('vect', CountVectorizer(tokenizer=tokenize)),
    ('tfidf', TfidfTransformer()),
    ('clf', MultiOutputClassifier(RandomForestClassifier()))
])

## 4. Train pipeline
- Split data into train and test sets
- Train pipeline

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [12]:
pipeline.fit(X_train, y_train)
y_test_predict = pipeline.predict(X_test)
#y_train_predict = pipeline.predict(X_train)

In [36]:
pipeline.get_params()

{'memory': None,
 'steps': [('vect',
   CountVectorizer(tokenizer=<function tokenize at 0x7fc29f9a0b00>)),
  ('tfidf', TfidfTransformer()),
  ('clf', MultiOutputClassifier(estimator=RandomForestClassifier()))],
 'verbose': False,
 'vect': CountVectorizer(tokenizer=<function tokenize at 0x7fc29f9a0b00>),
 'tfidf': TfidfTransformer(),
 'clf': MultiOutputClassifier(estimator=RandomForestClassifier()),
 'vect__analyzer': 'word',
 'vect__binary': False,
 'vect__decode_error': 'strict',
 'vect__dtype': numpy.int64,
 'vect__encoding': 'utf-8',
 'vect__input': 'content',
 'vect__lowercase': True,
 'vect__max_df': 1.0,
 'vect__max_features': None,
 'vect__min_df': 1,
 'vect__ngram_range': (1, 1),
 'vect__preprocessor': None,
 'vect__stop_words': None,
 'vect__strip_accents': None,
 'vect__token_pattern': '(?u)\\b\\w\\w+\\b',
 'vect__tokenizer': <function __main__.tokenize(text)>,
 'vect__vocabulary': None,
 'tfidf__norm': 'l2',
 'tfidf__smooth_idf': True,
 'tfidf__sublinear_tf': False,
 'tfidf__use_idf': True,
 'clf__estimator__bootstrap': True,
 'clf__estimator__ccp_alpha': 0.0,
 'clf__estimator__class_weight': None,
 'clf__estimator__criterion': 'gini',
 'clf__estimator__max_depth': None,
 'clf__estimator__max_features': 'auto',
 'clf__estimator__max_leaf_nodes': None,
 'clf__estimator__max_samples': None,
 'clf__estimator__min_impurity_decrease': 0.0,
 'clf__estimator__min_impurity_split': None,
 'clf__estimator__min_samples_leaf': 1,
 'clf__estimator__min_samples_split': 2,
 'clf__estimator__min_weight_fraction_leaf': 0.0,
 'clf__estimator__n_estimators': 100,
 'clf__estimator__n_jobs': None,
 'clf__estimator__oob_score': False,
 'clf__estimator__random_state': None,
 'clf__estimator__verbose': 0,
 'clf__estimator__warm_start': False,
 'clf__estimator': RandomForestClassifier(),
 'clf__n_jobs': None}

## 5. Test your model
Report the f1 score, precision and recall for each output category of the dataset. You can do this by iterating through the columns and calling sklearn's `classification_report` on each.

In [13]:
print(classification_report(y_test.values, y_test_predict, target_names=y.columns.values))

                        precision    recall  f1-score   support

               related       0.82      0.97      0.89      5000
               request       0.86      0.43      0.58      1115
                 offer       0.00      0.00      0.00        27
           aid_related       0.79      0.61      0.69      2719
          medical_help       0.59      0.04      0.08       513
      medical_products       0.86      0.04      0.07       334
     search_and_rescue       0.67      0.02      0.04       190
              security       0.00      0.00      0.00       124
              military       0.59      0.05      0.09       203
                 water       0.90      0.24      0.37       438
                  food       0.84      0.43      0.57       730
               shelter       0.86      0.27      0.41       606
              clothing       0.67      0.04      0.08        92
                 money       0.80      0.03      0.05       154
        missing_people       1.00      0.01      0.03        71
              refugees       0.00      0.00      0.00       220
                 death       0.82      0.11      0.20       288
             other_aid       0.62      0.02      0.03       854
infrastructure_related       0.00      0.00      0.00       424
             transport       0.77      0.11      0.19       307
             buildings       0.84      0.06      0.11       365
           electricity       0.50      0.01      0.03       149
                 tools       0.00      0.00      0.00        33
             hospitals       0.00      0.00      0.00        53
                 shops       0.00      0.00      0.00        35
           aid_centers       0.00      0.00      0.00        67
  other_infrastructure       0.00      0.00      0.00       299
       weather_related       0.87      0.63      0.73      1898
                floods       0.93      0.35      0.51       586
                 storm       0.83      0.44      0.58       650
                  fire       0.00      0.00      0.00        75
            earthquake       0.88      0.75      0.81       602
                  cold       0.89      0.06      0.10       144
         other_weather       0.73      0.02      0.05       332
         direct_report       0.85      0.37      0.51      1246

             micro avg       0.83      0.49      0.62     20943
             macro avg       0.57      0.17      0.22     20943
          weighted avg       0.76      0.49      0.54     20943
           samples avg       0.70      0.47      0.52     20943

/Users/Gabriel/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Gabriel/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/Gabriel/opt/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in samples with no true labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#print(classification_report(y_train.values, y_train_predict, target_names=y.columns.values))

## 6. Improve your model
Use grid search to find better parameters.

In [19]:
parameters = {
    #'vect__ngram_range': ((1, 1), (1, 2)),
    #'vect__max_df': (0.5, 0.75, 1.0),
    #'vect__max_features': (None, 5000, 10000),
    #'tfidf__use_idf': (True, False)
    'clf__estimator__n_estimators': [50, 100, 200],
    'clf__estimator__min_samples_split': [2, 3, 4]
}

cv = GridSearchCV(pipeline, param_grid=parameters, scoring='f1_micro', n_jobs=-1, verbose=10)

In [ ]:
t0 = time()
cv.fit(X_train, y_train)
print('Fitting the classifier to the training set: done in {0:.2f} s'.format(time() - t0))

In [13]:
t0 = time()
y_pred = cv.predict(X_test)
print('Predicting labels and classes on the test set: done in {0:.2f} s'.format(time() - t0))

Predicting labels and classes on the test set: done in 24.34s

In [14]:
print(cv.best_estimator_)

Pipeline(steps=[('vect',
                 CountVectorizer(tokenizer=<function tokenize at 0x7fc29f9a0b00>)),
                ('tfidf', TfidfTransformer()),
                ('clf',
                 MultiOutputClassifier(estimator=RandomForestClassifier()))])

In [34]:
results = pd.DataFrame.from_dict(cv.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_clf__estimator__min_samples_split,param_clf__estimator__n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,366.293085,16.296533,16.178738,0.210424,2,50,"{'clf__estimator__min_samples_split': 2, 'clf_...",0.600571,0.613332,0.610208,0.615057,0.595391,0.606912,0.007633,9
1,730.429580,59.756661,24.968350,2.744105,2,100,"{'clf__estimator__min_samples_split': 2, 'clf_...",0.603118,0.617830,0.621975,0.612436,0.602294,0.611531,0.007819,8
2,1341.413221,76.975976,67.392346,13.136024,2,200,"{'clf__estimator__min_samples_split': 2, 'clf_...",0.609775,0.615803,0.622539,0.617394,0.609101,0.614922,0.005006,6
3,335.171190,19.214412,15.599915,1.692226,3,50,"{'clf__estimator__min_samples_split': 3, 'clf_...",0.610104,0.618213,0.622078,0.619249,0.608704,0.615670,0.005288,5
4,631.278633,3.271332,24.244450,1.226890,3,100,"{'clf__estimator__min_samples_split': 3, 'clf_...",0.613280,0.618290,0.624047,0.621390,0.607729,0.616947,0.005837,4
5,1200.711376,21.123415,46.207231,4.806401,3,200,"{'clf__estimator__min_samples_split': 3, 'clf_...",0.611863,0.619255,0.626236,0.621366,0.608036,0.617351,0.006566,3
6,278.468313,4.034700,12.917923,0.621878,4,50,"{'clf__estimator__min_samples_split': 4, 'clf_...",0.608433,0.617750,0.622989,0.616529,0.607680,0.614676,0.005830,7
7,551.665304,8.762723,22.761469,1.386654,4,100,"{'clf__estimator__min_samples_split': 4, 'clf_...",0.610205,0.622720,0.626384,0.621063,0.607381,0.617551,0.007409,2
8,992.114526,110.691963,36.332029,6.486180,4,200,"{'clf__estimator__min_samples_split': 4, 'clf_...",0.611509,0.620809,0.626098,0.627072,0.611722,0.619442,0.006736,1

best_params_: {'clf__estimator__min_samples_split': 4, 'clf__estimator__n_estimators': 200}
best_score_: 0.6194420446753182

## 7. Test your model
Show the accuracy, precision, and recall of the tuned model.  

Since this project focuses on code quality, process, and  pipelines, there is no minimum performance metric needed to pass. However, make sure to fine tune your models for accuracy, precision and recall to make your project stand out - especially for your portfolio!

## 8. Try improving your model further. Here are a few ideas:
* try other machine learning algorithms
* add other features besides the TF-IDF

## 9. Export your model as a pickle file

In [ ]:
with open('model.pickle', 'wb') as f:
    pickle.dump(cv, f)

## 10. Use this notebook to complete `train.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database and export a model based on a new dataset specified by the user.